
@{
    ViewBag.Title = "AdvoRegister";
}

<h2>AdvoRegister</h2>

@using (Html.BeginForm("Index", ""))
{
    @Html.HiddenFor(m => m.MyId)
    @Html.TextBoxFor(m => m.Tasks, new { @class = "form-control" })

}


