
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "AdvocateRegister"))
{
    @Html.HiddenFor(m => m.MyId)
    @Html.TextBoxFor(m => m.Tasks, new { @class = "form-control" })

}




