@{
    ViewBag.Title = "Cornerstone Client and Donor Management System";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This software was developed by DreamCatchers (Lance Akins, Kevin Serrano, Jenny Gjika) for exclusive use by Cornerstone Special Education Alliance, located in Jacksonville, FL.
    This software is provided as-is and is not to be resold, redistributed, reverse-engineered, or used in any manner other than described.</p>
