@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DreamCatchers<br/>
    1 UNF Drive<br />
    Jacksonville, FL 32224<br />
    <abbr title="Phone">P:</abbr>
    904.419.8629
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dlakinsii@gmail.com">dlakinsii@gmail.com</a><br />
    
</address>