@model CornerStoneApp2.Models.Advocate
    @{ViewBag.Title = "Home Page";
}

<h2>CornerStone Special Education Advocacy</h2>
<table>
    <tr>
        <td>@Html.ActionLink("Home", "Index")</td>
    </tr>
    <tr>
        <td><a href=/Advo /> Advocates</a></td>
    </tr>
    <tr>
        <td><a href=/Child /> Children</a></td>
    </tr>
    <tr>
        <td><a href=/Donor /> Donors</a></td>
    </tr>
    <tr>
        <td><a href=/Parent /> Parents</a></td>
    </tr>
    <tr>
        <td><a href=/Project /> Projects</a></td>
    </tr>
</table>
